extends layout

block content
  - let gloves = results
  h1= title
  div(class="container-fluid")
  div(class="row m-1")
    each glove in gloves
      - let destination = `dispatch(\"/glove/update?id=${glove._id}\")`
      div(class="row-sm-2", class="m-1") Glove #{glove.gun_name}(#{glove.gun_weight}) is #{glove.gun_manufacturer} 
        button.btn( class="btn-primary ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }